body{
  margin-left: 5%;
  margin-right: 10%;
}

.inline{
  display: inline-block;
  vertical-align: center;
}

#kakhel{
  margin-top: 100px;
}

.socials, .socials-pfp{
  display: flex;
  gap: 20px;
}

.socials img , .socials-pfp img{
  width: 32px;
}
