*{
  margin-left: 10%;
  margin-right: 10%;
}

.pre-content{
  display: flex;
  justify-content: center;
}

hr{
  margin: 0px;
}

.tag{
    display: inline-block;
    color:white;
    /*border: 2px solid black; */
    padding: 2px;
    margin: 2px;
    margin-top: -2px;
    margin-bottom: 9px;
    border-radius: 2px;
    font-size: 15px;
}

.philosophy{
    background-color: #af13af;
}


.blog-title{
  text-decoration: none;
  margin: 0px;
  font-size: 20px;
  padding: 5px;
}

.blog-preview{
  font-size: 18px;
  margin: 0;
}

a{
  all:unset;
}

a:hover, a:focus{
  /*color: lightblue;*/
  text-decoration: none;
  cursor: pointer;
}

.date{
  float: right;
  color: grey;
  margin: 0px;
  font-size: 15px;
}

.time{
  font-size: 15px;
  font-style: italic;
  margin-left: 20px;
}

.blog-card{
  background-color: peachpuff;
  border-radius: 2px;
}

.blog-card:hover{
  transform: translatey(-10px);
  filter: brightness(1.1);
  cursor: pointer;
}
